<section class="header">
    <div class="container">
        <img src="assets/images/logo.png">
        <button type="button" class="login-btn">login</button>
    </div>
    <h1>Travel Across The Globe</h1>
    <p>Subscribe My Channel Deepak Singh Tutorials</p>
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Search Country or City">
        <div class="input-group-append">
            <button type="button" class="input-group-text btn">Search</button>
        </div>
    </div>
</section>
<section class="features">
    <h1>Featured Destinations</h1>
    <div class="row">
        <div class="col-md-4">
            <div class="feature-box">
                <div class="feature-img">
                    <img src="assets/images/banner2.jpg">
                    <div class="price">
                        <p>78$</p>
                    </div>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                    </div>
                </div>
                <div class="feature-details">
                    <h4>Deepak Singh</h4>
                    <p>Subscribe Easy Deepak Singh Tutorials on You tube Don't forget watch and Subscribe my Channel.
                    </p>
                    <div>
                        <span><i class="fa fa-map-maker"></i>Los Angles</span>
                        <span><i class="fa fa-sun-o"></i>4 Days</span>
                        <span><i class="fa fa-moon-o"></i>3 Nights</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="feature-box">
                <div class="feature-img">
                    <img src="assets/images/banner2.jpg">
                    <div class="price">
                        <p>78$</p>
                    </div>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                    </div>
                </div>
                <div class="feature-details">
                    <h4>Deepak Singh</h4>
                    <p>Subscribe Easy Deepak Singh Tutorials on You tube Don't forget watch and Subscribe my Channel.
                    </p>
                    <div>
                        <span><i class="fa fa-map-maker"></i>Los Angles</span>
                        <span><i class="fa fa-sun-o"></i>4 Days</span>
                        <span><i class="fa fa-moon-o"></i>3 Nights</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="feature-box">
                <div class="feature-img">
                    <img src="assets/images/banner2.jpg">
                    <div class="price">
                        <p>78$</p>
                    </div>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                    </div>
                </div>
                <div class="feature-details">
                    <h4>Deepak Singh</h4>
                    <p>Subscribe Easy Deepak Singh Tutorials on You tube Don't forget watch and Subscribe my Channel.
                    </p>
                    <div>
                        <span><i class="fa fa-map-maker"></i>Los Angles</span>
                        <span><i class="fa fa-sun-o"></i>4 Days</span>
                        <span><i class="fa fa-moon-o"></i>3 Nights</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="gallary">
    <h1>Travelling Gallery</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="gallary-box">
                    <img src="assets/images/img-2.jpg">
                    <h4>Deepak Singh</h4>
                </div>
            </div>
            <div class="col-md-3">
                <div class="gallary-box">
                    <img src="assets/images/img-1.jpg">
                    <h4>Deepak Singh</h4>
                </div>
            </div>
            <div class="col-md-3">
                <div class="gallary-box">
                    <img src="assets/images/img-3.jpg">
                    <h4>Deepak Singh</h4>
                </div>
            </div>
            <div class="col-md-3">
                <div class="gallary-box">
                    <img src="assets/images/img-4.jpg">
                    <h4>Deepak Singh</h4>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="banner">
    <div class="banner-highlights">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h2>Get 30% on top Destination</h2>
                    <p>Book Your Tickets before 31st march and avail 30 % flat discounts</p>
                </div>
                <div class="col-md-4">
                    <button type="button" class="booking-btn">Book Now</button>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="reviews">
    <div class="container">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="assets/images/img-1.jpg" alt="Review Img">
                    <div class="carousel-caption">
                        <h5>Deepak Singh</h5>
                        <small>CEO & FOUNDER OF @ FACEBOOK</small>
                        <p>Anil Kapoor is an Indian actor and film producer who has appeared in over a hundred Hindi-language films, as well as international<br> films and television series. His career has spanned 40 years as an actor, and as a</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="assets/images/img-2.jpg" alt="Review Img">
                    <div class="carousel-caption">
                        <h5>Deepak Singh</h5>
                        <small>CEO & FOUNDER OF @ FACEBOOK</small>
                        <p>Anil Kapoor is an Indian actor and film producer who has appeared in over a hundred Hindi-language films, as well as international<br> films and television series. His career has spanned 40 years as an actor, and as a</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="assets/images/img-3.jpg" alt="Review Img">
                    <div class="carousel-caption">
                        <h5>Deepak Singh</h5>
                        <small>CEO & FOUNDER OF @ FACEBOOK</small>
                        <p>Anil Kapoor is an Indian actor and film producer who has appeared in over a hundred Hindi-language films, as well as international<br> films and television series. His career has spanned 40 years as an actor, and as a</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="user-feedback">
    <h1>Users Review</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="user-review">
                    <p>Anil Kapoor is an Indian actor and film producer who has appeared in over a hundred Hindi-language films, as well as international films and television series. His</p>
                    <h5>Deepak Singh</h5>
                    <small>MEAN Stack Developer</small>
                </div>
                <img src="assets/images/img-5.jpg">
            </div>
            <div class="col-md-4">
                <div class="user-review">
                    <p>Anil Kapoor is an Indian actor and film producer who has appeared in over a hundred Hindi-language films, as well as international films and television series. His</p>
                    <h5>Deepak Singh</h5>
                    <small>MEAN Stack Developer</small>
                </div>
                <img src="assets/images/img-1.jpg">
            </div>
            <div class="col-md-4">
                <div class="user-review">
                    <p>Anil Kapoor is an Indian actor and film producer who has appeared in over a hundred Hindi-language films, as well as international films and television series. His</p>
                    <h5>Deepak Singh</h5>
                    <small>MEAN Stack Developer</small>
                </div>
                <img src="assets/images/img-2.jpg">
            </div>
        </div>
    </div>
</section>
<section class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <img src="assets/images/logo.png" class="footer-logo">
                <p>Anil Kapoor is an Indian actor and film producer who has appeared in over a hundred Hindi-language films, as well as international films and television series. His</p>
            </div>
            <div class="col-md-3">
                <h4>features</h4>
                <p>Deals & Offers</p>
                <p>Customer Reviews</p>
                <p>Cancellation Policy</p>
            </div>
            <div class="col-md-3">
                <h4>Quick Contacts</h4>
                <p><i class="fa fa-phone-square"></i>+91 8290886498</p>
                <p><i class="fa fa-home"></i>deepuji8255@gmail.com</p>
                <p><i class="fa fa-home"></i>ABC HITEC CITY HYDRABAD</p>
            </div>
            <div class="col-md-3">
                <h4>Follow Us On</h4>
                <p><i class="fa fa-facebook-official"></i>FACEBOOK</p>
                <p><i class="fa fa-twitter"></i>TWITTER</p>
                <p><i class="fa fa-youtube-play"></i>YOUTUBE</p>
            </div>
        </div>
        <hr>
        <p class="copyright">Made With <i class="fa fa-heart"></i> By Deepak Singh</p>
    </div>
</section>