<div class="row">
    <div class="contact-us-bg">
        <div class="">
            <h1 class="contact-Us-Header">CONTACT US</h1>
        </div>
        <div class="col-12">
            <form class="form_style d-flex">
                <div class="col-6">
                    <div class="input-box">
                        <span><i class="fa fa-user-o"></i></span>
                        <input type="text" placeholder="Enter Your Name">
                    </div>
                    <div class="input-box">
                        <span><i class="fa fa fa-phone"></i></span>
                        <input type="text" placeholder="Enter Contact Number">
                    </div>
                    <div class="input-box">
                        <span><i class="fa fa-envelope-o"></i></span>
                        <input type="email" placeholder="Enter Your Email">
                    </div>
                    <div class="message-box">
                        <small class="textareaspan"><i class="fa fa-envelope-o"></i></small>
                        <textarea placeholder="Enter your message"></textarea>
                    </div>
                    <button type="submit" style="width: 190px;"><i class="fa fa-sign-in"></i>Send Message</button>
                </div>
                <div class="col-md-6">
                    <div class="input-box">
                        <span><i class="fa fa-map-marker"></i></span>
                        <input type="text" placeholder="XYZ Road , Hydrabad, IN" readonly>
                    </div>
                    <div class="input-box">
                        <span><i class="fa fa-whatsapp"></i></span>
                        <input type="text" placeholder="+91 8290886498" readonly>
                    </div>
                    <div class="input-box">
                        <span><i class="fa fa-envelope-o"></i></span>
                        <input type="text" placeholder="deepakji8255@gmail.com" readonly>
                    </div>
                    <button type="submit"><i class="fa fa-sign-in"></i>Subscribe</button>
                    <div class="centerdiv">
                        <a href="https://www.facebook.com/singh.deepak.9216" target="_blank">
                            <i class="fa fa-facebook fa-2x" aria-hidden="true"></i>
                        </a>
                        <a href="deepak.rajput1997" target="_blank">
                            <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
                        </a>
                        <a href="https://www.linkedin.com/in/depak-singh-o4ab500169" target="_blank">
                            <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
                        </a>
                        <a href="https://www.linkedin.com/in/depak-singh-o4ab500169" target="_blank">
                            <i class="fa fa-linkedin fa-2x" aria-hidden="true"></i>
                        </a>
                        <a href="https://www.facebook.com/singh.deepak.9216" target="_blank">
                            <i class="fa fa-gitlab fa-2x" aria-hidden="true"></i>
                        </a>
                        <a href="https://www.linkedin.com/in/depak-singh-o4ab500169" target="_blank">
                            <i class="fa fa-youtube fa-2x" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>