<div class="row">
    <div class="signup-bg">
        <div class="">
            <h1 class="Sign-Up-Header">SIGN UP HERE</h1>
        </div>
        <form class="form_style d-flex">
            <div class="col-6">
                <div class="input-box">
                    <span><i class="fa fa-user-o"></i></span>
                    <input type="text" placeholder="Enter First Name" required>
                </div>
                <div class="input-box">
                    <span><i class="fa fa fa-phone"></i></span>
                    <input type="text" placeholder="Enter Mobile Number" required>
                </div>
                <div class="input-box">
                    <span><i class="fa fa-key"></i></span>
                    <input type="password" placeholder="Enter Your Password" required>
                </div>
                <div class="input-box">
                    <span><i class="fa fa-home"></i></span>
                    <input type="text" placeholder="Enter Your City" required>
                </div>
                <div class="input-box">
                    <span><i class="fa fa-address-card"></i></span>
                    <input type="text" placeholder="Enter Your Permanent Adrress" required>
                </div>
                <div class="input-box">
                    <span><i class="fa fa-lock"></i></span>
                    <input type="text" placeholder="Enter Your Pin Code" required>
                </div>
                <div class="input-box">
                    <span><i class="fa fa-male"></i></span>
                    <input type="text" placeholder="Enter Your Gender" required>
                </div>
                <div class="input-box">
                    <span><i class="fa fa-calendar"></i></span>
                    <input type="text" placeholder="Enter Your DOB &nbsp;25/05/2021" required>
                </div>
                <div class="d-flex" style="margin-left: 55px;">
                    <div class="">
                        <button type="submit"><i class="fa fa-sign-in"></i>Sign Up</button>
                    </div>
                    <div class="" style="margin-left: 10px;">
                        <button type="submit"><i class="fa fa-refresh"></i>Reset</button>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="input-box">
                    <span><i class="fa fa-user-o"></i></span>
                    <input type="text" placeholder="Enter Last Name" required>
                </div>
                <div class="input-box">
                    <span><i class="fa fa-envelope-o"></i></span>
                    <input type="email" placeholder="Enter Email Id" required>
                </div>
                <div class="input-box">
                    <span><i class="fa fa-key"></i></span>
                    <input type="password" placeholder="Confirm Password" required>
                </div>
                <div class="input-box">
                    <span><i class="fa fa-university"></i></span>
                    <input type="text" placeholder="Enter Your State" required>
                </div>
                <div class="input-box">
                    <span><i class="fa fa-address-card-o"></i></span>
                    <input type="text" placeholder="Enter Your Current Adrress" required>
                </div>
                <div class="input-box">
                    <span><i class="fa fa-comments"></i></span>
                    <input type="text" placeholder="Enter Remarks" required>
                </div>
                <div class="input-box">
                    <span><i class="fa fa-user-o"></i></span>
                    <input type="text" placeholder="Enter Your Age" required>
                </div>
                <div class="input-box">
                    <span><i class="fa fa-female"></i></span>
                    <input type="text" placeholder="Enter Your Marital Status &nbsp; Maried / Single" required>
                </div>
                <div class="">
                    <p class="justify-content-end">
                        <a class="already_acc_style" href="sign-in">Have You Already Account? Then Sign In</a>
                    </p>
                </div>
            </div>
        </form>
    </div>
</div>
