<div class="container" style="background: bisque;">
    <div class="row">
        <div class="col-6">
            <label class="left_heading">My name is Deepak Singh <br />
                <span style="color: green;padding: 5px;">TELE</span><i style="color: green !important;padding: 5px;"
                    class="fa fa-plus"></i><strong>privilidged</strong></label>
        </div>
        <div class="col-6">
            <div class="gallary-box">
                <img src="assets/images/img-2.jpg">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="left_heading">
            <label>Benefits</label>
        </div>
    </div>
    <div class="row">
        <div class="ml-4 col-5">
            <label class="label_style">up to 20 % Discount on products</label>
        </div>
        <div class="ml-2 col-5">
            <label class="label_style">up to 20 % Discount on products</label>
        </div>
    </div>
    <div class="row">
        <div class="ml-4 col-5">
            <label class="label_style">up to 20 % Discount on products</label>
        </div>
        <div class="ml-2 col-5">
            <label class="label_style">up to 20 % Discount on products</label>
        </div>
    </div>
    <div class="row">
        <div class="col-3">

        </div>
        <div class="col-6">
            <label class="label_style" style="text-align: center;">up to 20 % Discount on products</label>
        </div>
        <div class="col-2">

        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <div class="divStyle">
                <h5>MONTHLY</h5>
                <h1>BHD10</h1>
                <h4>PER MONTHS</h4>
            </div>
        </div>
        <div class="col-4">
            <div class="divStyle">
                <h5>QUATERLY</h5>
                <h1>BHD7</h1>
                <h4>PER MONTHS</h4>
            </div>
        </div>
        <div class="col-4">
            <div class="divStyle">
                <h5>YEARLY</h5>
                <h1>BHD5</h1>
                <h4>PER MONTHS</h4>
            </div>
        </div>
    </div>

    <div class="row label_style">
        <label class="">Calculate Your Saving For Yourself</label>
        <div class="col-6">
            <label class="">If Your Spending Medicine is</label>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="25" aria-valuemin="0"
                    aria-valuemax="100">75%</div>
            </div>
        </div>
        <div class="col-6">
            <label class="">Break Down</label>
            <table class="table">
                <thead class="table-dark">
                    <tr>
                        <th>Break Down</th>
                        <th>Actual Plus</th>
                        <th>Plus</th>
                        <th>Savings</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>hdfihknksdfhonksd</td>
                        <td>653123</td>
                        <td>65131</td>
                        <td>351</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>