<footer class="footer footer-stripclr">
    <p>&copy; 2021 Made in India By Deepak Singh❤️</p>
</footer>


<div class="w-100 card-section">
    <div class="popup-title-bg mt-2 ml-2" style="width: 200px;">
        <label class="label-font">Activity Details</label>
    </div>
    <div class="w-100 mt-2 mb-2">
        <table class="table table-striped table-bordered theme-table" small="true">
            <tr>
                <td>Sameer added New user </td>
                <td>Created On 25/04/2021</td>
            </tr>
            <tr>
                <td>DEEAPK added New user </td>
                <td>Updated On 25/04/2021</td>
            </tr>
            <tr>
                <td>Rand added New user </td>
                <td>Edited On 25/04/2021</td>
            </tr>
            <tr>
                <td>Azad added New user </td>
                <td>Deleted On 25/04/2021</td>
            </tr>
            <tr>
                <td>Shiva added New user </td>
                <td>Updated On 25/04/2021</td>
            </tr>
        </table>
    </div>
</div>